header {
  position: fixed; /* fiksere menuen */
  z-index: 1000;
}

.figur1 {
  aspect-ratio: 350/1080;
  width: 55%;
  background-image: url(images/figur_1.svg);
  background-size: cover;
  object-fit: cover;
}
/* ændres hvis jeg har tid */
#overskrift {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center; */
  position: absolute;
  top: 45%;
  left: 28%;
  z-index: 0;
}
