/**** variabler ****/
:root {
  /** farver **/
  --primary: #1b1af5;
  --secondary: #fffcd1;
  --tertiary: #454444;
  --accent1: #d8f4ff;
  --accent2: #786eff;

  /** spacing **/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
  --space-xxxl: 10;
}

/**** fonte
h1 og h2:
font-family: "Italiana", serif;

h3:
font-family: "Chivo", serif;

p:
font-family: "Chivo Mono", serif;

****/

* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

html {
  background-color: var(--secondary);
}

/** fonte **/

h1 {
  font-family: "Italiana", serif;
  color: var(--primary);
  font-size: 4.5rem;
  font-weight: 600;
}

h4 {
  font-family: "Italiana", serif;
  color: var(--accent2);
  font-size: 1rem;
  text-align: right;
}

/**** menu ****/
header {
  display: flex;
  justify-content: space-between;
}

/**** forside ****/

#figur_container1 {
  position: absolute;
  top: 0%;
  left: 10%;
  aspect-ratio: 350/1080.18;
  width: 50%;
}

#figur_sprite1 {
  width: 100%;
  height: 100%;
  background-image: url(images/figur_1.svg);
  background-size: cover;
}

.portfolio {
  position: absolute;
  top: 45%;
  left: 35%;
}
